POSTGRES_DB=app_db
POSTGRES_PORT=5432
POSTGRES_HOST=postgres
POSTGRES_USER=user
POSTGRES_PASSWORD=123

DEBUG=yes
SECRET_KEY=&3=_pz5u+!8^w94usm09p)*-@x3z=r_(=o7y4*(w26@1r-dbw^

ADMIN_USER_NAME=yauheni
ADMIN_USER_PASSWORD=123
BROKER_URL=amqp://guest:guest@localhost:5672//